
* {box-sizing:border-box}

.slide-container {
    max-width: 400px;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    display:inline;
    justify-content:center;
    align-items:center;
}

.questionCard {
    background-color: #fff;
    display: none;
    width: 600px;
    height: 500px;
    margin-left:auto;
    margin-right:auto;
    box-shadow: 4px 4px 8px #00000050;
    text-align: center;
}

.sliderHeader {
    height: 45%;
    justify-content: center;
    text-align: center;
    font-size: 40px;
    color: #000;
    object-fit: cover;
}

.sliderHeaderImage {
    width: 600px;
    overflow: hidden;
    /* padding: 5px; */
    height: 80%;
    object-fit: cover;
    position: relative;
    box-shadow: 0px 2px 8px #00000050;
}

.answerOptions {
    width: 580px;
    display: flex;
    padding: 10px;
    position: relative;
    left: 10px;
    height: 45%;
    /* background-color: #777; */
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #000;
}

.answerOptions li{
    list-style-type: none;
    display: inline;
    align-items: left;
    padding: 15px;
}

.handPointer{
    cursor:pointer;
}

.next {
    align-self: center;
    top: -25px;
    position: relative;
    background-color: #E86304;
    padding: 5px 60px;
    font-size: 25px;
}

.next:hover {
    opacity: 0.5;
}

.slide {
    position: relative;
    -webkit-animation-name: slide;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
    animation-name: slide;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

@-webkit-keyframes slide {
    from {
        left:200px;
        opacity: 0;
    }
    to {
        left:0px;
        opacity: 1
    }
}

@keyframes slide {
    from {
        left:200px;
        opacity: 0
    }
    to {
        left:0px;
        opacity: 1;
    }
}

.slide2 {
    position: relative;
    -webkit-animation-name: slide2;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
    animation-name: slide2;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

@-webkit-keyframes slide2 {
    from {
        left:200px;
        opacity: 0;
    }
    to {
        left:10px;
        opacity: 1
    }
}

@keyframes slide2 {
    from {
        left:200px;
        opacity: 0
    }
    to {
        left:10px;
        opacity: 1;
    }
}
