{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <h2>Rate a mandarin</h2>
    <form method="post" enctype="multipart/form-data"
        action="{% url 'rate' %}">
        {% csrf_token %}
        {% for field in form %}
        <p>

        <div class="form-group">

            <div class='slide-container'>
                <div class='questionCard slide'>
                    <div class='sliderHeader'>
                        <img class='sliderHeaderImage' src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGvOAEUOisX_P9mSR9Z9aCUcd5n-US_L7pm6Qlgr08ScoAScNE'/>
                        <span class='header'>{{field.label_tag}}</span>
                    </div>
                    <div class='answerOptions'>{{field}}</div>
                    <a class='next' onClick='nextQuestion()'>Next</a>
                </div>
            </div>
        </div>
        </p>

        {% endfor %}
		<div class="col-md-3 col-sm-3 col-xs-6" id="rateButton" style="visibility:hidden;"> 
			<!--<a href="#" class="btn btn-sm animated-button victoria-one">Sign up</a>-->
			<button class="btn btn-sm animated-button victoria-one"></button>
		</div>
       <!-- <button id="rateButton" class="btn btn-primary"
            style="visibility:hidden;">Rate</button>-->

    </form>

    <script src='{% static  'slider.js' %}'></script>

</div>

{% endblock %}
